# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.eggs/

# Virtualenvs
.venv/
venv/
env/

# Tooling caches
.pytest_cache/
.ruff_cache/
v.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# Editors / OS
.vscode/
.idea/
*.swp
.DS_Store
